<header>
<h1>
    TinyApp
</h1>
<h2> 
    <% if(user) {%>
        <p><%= user.email%></p>
        <form method="POST" action="/logout">
            <input value="Logout" type="submit"/>
        </form>
    <%} else {%>
        <form method="GET" action="/login">
            <input value="Login" type="submit"/>
        </form>
        <form method="GET" action="/register">
            <input type="submit" value="register" />
        </form>
    <%} %>
</h2>
</header>


