<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <header>
        <% include partials/_header %>
    </header>

    <% for (var link in urls) { %>

      <li><%= link %> <%= urls[link] %></li>
      <form method="POST" action="/urls/<%=link%>/delete">
        <input type="submit" name="newURL" value='Delete'/>
        <a href='/urls/<%=link%>'>  Edit </a>
      </form>
      <% } %>

</body>
</html>