<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include partials/_header %>
</header>
<body>
   
    <%= shortURL %> <%= longURL %>

    
     <form method="POST" action ="/urls/<%= shortURL %>">
        <label for="longURL"> Enter URL </label>
        <input id="longURL" type="text" name="longURL" value="<%= longURL %>" style="width: 300px">
        <input type="submit" value="Submit">
     </form>   
        <input type="submit" name="newURL" value="UPDATE">
    </form>
        
</body>
</html>


