<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include partials/_header %>
</header>
<body>

  
    <% for(var link in urls) { %>

      <li><%= link %> <%= urls[link]%></li>
      <a href='/urls/<%=link%>'>  Edit </a>
      <form method = "POST" action="/urls/<%=link%>/delete">
        <input type="submit" name="newURL" value='Delete'>
      </form>
      <% } %>

</body>
</html>
